.navigation {
  background-color: $primary_color_opacity;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__links {
    margin: auto 10px;
    box-sizing: border-box;
    border: 5px solid $primary_color;
    border-radius: 5px;
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
    background-color: #fff;
    color: $primary_color;

    @media (min-width: 400px) {
      font-size: 22px;
      font-weight: 900;
      padding: 0 10px;
    }

    &--active {
      background-color: $primary_color;
      color: #fff;
    }
  }
}
